

#game-field {
  width: 410px;
  height: 490px;

  margin-bottom: 10px;
  border: 5px solid black;
  background-color: white;
}

#game-field .block {
    float: left;
    width: 20px;
    height: 20px;
}

#game-field .block.moving {
    background-color: red;
}

#game-field .block.fixed {
    background-color: darkgray;
}

